CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# DFRobot K10: 16 MB QIO flash @ 80 MHz
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# DFRobot K10: 8 MB octal PSRAM @ 80 MHz
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

# K10 audio output uses internal/dummy codec path over I2S TX.
CONFIG_CODEC_DUMMY_SUPPORT=y
